DATABASE_URL=
SESSION_ID=Prince~V4xkHC6a#szZyaWEKUcg-jtFdX8yAVpuLG3fbZnDcp25NZ3KTczc
REMOVEBG_KEY=
PREFIX=.
MODE=public
AutoReaction=true
STATUSVIEW=true
ANTI_LINK=true
ANTI_CALL=false
VIEWONCE=true
Status_Saver=true
STATUSLIKES=true
REPLY_STATUS=true
antidelete=true
BOT_NAME=Amir
AUTOREAD=false
AlwaysOnline=false
OWNERS=923114397148;PRINCE
DL_MSG=Downloaded successfully
STATUS_MSG=Status seen by prince

